p.journal_info{
	color:gray;
	font-size:11px;
	margin-bottom:-5px;
}

p.journal_foot{
	border-top:1px solid #eee;
	text-align:right;
}

p.journal_foot a{
	text-decoration:none;
	padding:0px 10px 0px 10px;
	border-left:1px solid #eee;
}

.journal{
	margin:0px 0px 50px 0px;
}
