#admission_content, #exercise_content, #exam_content, #scholar_content, #forum_content{
	min-height:155px;
	padding-top:40px;
	padding-left:15px;
}

#admission_content{
	background:url(admissionbg.png) top left no-repeat;
}

#exercise_content{
	background:url(exercisebg.png) top left no-repeat;
}

#exam_content{
	background:url(exambg.png) top left no-repeat;
}

#scholar_content{
	background:url(scholarbg.png) top left no-repeat;
}

#forum_content{
	background:url(forumbg.png) top left no-repeat;
}

.triamsob_item{
	width:320px;
	float:left;
	margin:0px 0px 5px 10px;
}

.triamsob_item h4{
	margin-bottom:0px;
}

.triamsob_icon{
	float:left;
	margin-left:10px;
}
