.forum img{
	margin:5px 15px;
}

fieldset{
	border:1px solid #999;
	margin-bottom:25px;
}

.sortable{
	list-style-type: none;
	padding:2px 10px 2px 10px;
	margin:0 0 20px 0;
	min-height:32px;
	background:#eee;
}

.sortable li{
	line-height:16px;
	height:32;
	margin:8px auto 8px auto;
	padding:8px 15px 8px 15px;
	border:1px solid #aaa;
	background:#fff;
}

.sortable li:hover{
	background:#d7e3f4;
	cursor:move;
}

.sortable li img{
	margin-right:15px;
}

p.forum_info{
	color:gray;
	font-size:11px;
	margin-bottom:-5px;
}

p.forum_foot{
	border-top:1px solid #eee;
	text-align:right;
}

p.forum_foot a{
	text-decoration:none;
	padding:0px 10px 0px 10px;
	border-left:1px solid #eee;
}

.forum{
	margin:0px 0px 50px 0px;
}
