/* ========= HTML-TAG ========= */
body{
	font-family: Verdana, Geneva, sans-serif;
	text-align:center;
	font-size: 12px ;
	line-height:18px;
	padding:0px;
	height:100%;
	background:#20180b;
	color:#fff8c4;
	display:;
}

a{
	color:#666;
}

input{
	font-size:12px;
	border:1px solid gray;
}

/* ========= Labels ========= */
.list_label, .title_label{
	color:#ccc;
	font-size:24px;
	margin:5px 10px;
	font-family:Century Gothic, sans-serif;
	color:#fff8c4;
	font-weight:normal;
}

.small_label{
	color:#ccc;
	font-size:18px;
}

.sublist_label{
	color:#ccc;
	font-size:16px;
}

/* ========= Head ========= */
#head{
	margin:20px 10px 5px 10px;
	height:60px;
	width:940px;
}

#head_name{
	text-decoration:none;
}

#head_name h1{
	font-family:Century Gothic, sans-serif;
	font-size:48px;
	line-height:48px;
	color:#fff8c4;
	font-weight:normal;
	width:280px;
	float:left;
	padding:0;
	margin:0;
}

#head_slogan{
	font-size:14px;
	line-height:14px;
	color:#b6a071;
	font-weight:normal;
	float:left;
	width:360px;
	padding-top:32px;
	margin:0;
	vertical-align:bottom;
}

#head_logo{
	
}

/* ========= Main Layout ========= */
#home_container, #main_container{
	width:960px;
	min-height:700px;
	margin:30px auto 0 auto;
	text-align:left;
	border:1px solid #20180b;
}

#home_container{
	background:url(../image/background-home.jpeg) black bottom center no-repeat;
}

#main_container{
	background:url(../image/background.jpeg) black bottom center no-repeat;
}

#body{
	width:940px;
	padding:5px 10px 5px 10px;
	min-height:530px;
}

#content, #wide_content{
	margin-top: 0px;
	float:right;
	display:table-cell;
	vertical-align:bottom;
}

#content{
	width:590px;
}

.content_top, .content_bottom{
	margin:0;
	padding:0;
	width:590px;
	height:8px;
}

.content_top{
	background:url(../image/box-top.png) no-repeat;
}

.content_bottom{
	background:url(../image/box-bottom.png) no-repeat;
}

.content_body{
	padding:1px 10px;
	margin:0;
	width:570px;
	background:url(../image/box-body.png) repeat-y;
}

#wide_content{
	width:940px;
}


/* ========= Menu ========= */
#menu_line{
	width:960px;
	padding:0;
	margin:0;
}

#facebook_link{
	width:50px;
	height:50px;
	float:left;
	padding:0;
	margin:-5px 0 0 0;
}

#menu_container{
	width:880px;
	margin:0 5px;
	padding:0;
	height:52px;
	float:left;
}

#menu{
	margin:0;
	padding:0;
}

#menu li{
	float: left;
	list-style: none;
}

#menu li a{
	padding: 12px 20px;
	color: #5a4517;
	font-size:18px;
	display: block;
	text-decoration:none;
}

#menu li a:hover{
	background:#f3ecd2;
	color:#550000;
}

#menu li a#active_page{
	background:#5f481f;
	color:#bcb171;
}

/* ========= Blocks ========= */
#left_block{
	width: 340px;
	height:520px;
	float:right;
	margin:0px 5px 0px 0px;
	background:url(../image/leftbox.png) bottom right no-repeat;
}

/* ========= Foot ========= */
#foot{
	clear:both;
	width:960px;
	height:34px;
	margin:0 25px;
	padding:0;
	font-size:11px;
	line-height:16px;
	text-align:right;
	color: #b6a071;
}

/* ========= Operation bar ========= */
#operation_bar{
	position:fixed;
	top:0;
	left:0;
	height:25px;
	padding:0;
	line-height:20px;
	width:100%;
	background:black;
	text-align:right;
	border-bottom:1px solid #333;
}

#operation_bar a{
	color:white;
	text-decoration:none;
	font-weight:bold;
	font-size:13px;
	margin:auto 15px;
}

#operation_content, #search_bar{
	margin: 1px auto 1px 1%;
	width:48%;
	float:left;
	height:20px;
}

#search_bar{
	text-align:left;
}

#login_popup #loginsubmit{
	width:80px;
}

#login_popup{
	border:1px solid #666;
	padding:15px;
	background:white;
	width:240px;
	position:fixed;
	top:26px;
	right:0px;
	text-align:left;
}

#login_popup h4{
	color:#666;
}

#login_popup a{
	color:#369;
}

#login_popup input{
	width:200px;
}
