.docgen label{
	font-weight:bold;
}

p.docgen_info{
	color:gray;
	font-size:11px;
	margin-bottom:-5px;
}

p.docgen_operation{
	border-top:1px solid #eee;
	text-align:right;
}

p.docgen_operation a{
	text-decoration:none;
	padding:0px 10px 0px 10px;
	border-left:1px solid #eee;
}
