.comment p{

}

.comment_trunk{
	padding-left:15px;
	border-left:2px solid #bbb;
}


.comment_branch{
	margin-left:10px;
	padding-left:15px;
	border-left:2px solid #bbb;
}

.comment_foot{
	border-top:1px solid #eee;
	text-align:right;
}

.comment_foot a{
	padding:0px 10px;
	border-left:1px solid #eee;
}

.comment{
	margin:0px 0px 50px 0px;
}

