#faq_category_select{
	margin-bottom:25px;
}

p.faq_foot{
	border-top:1px solid #eee;
	text-align:right;
}

p.faq_foot a{
	text-decoration:none;
	padding:0px 10px 0px 10px;
	border-left:1px solid #eee;
}
