.develcard p label, .develcard_item label{
	font-weight:bold;
}

.develcard, .develcard_item{
	padding:10px;
	margin-bottom:20px;
	background:#eee;
	display:block;
}

.develcard_container{
	padding:0;
	margin:0;
	background:#eee;
	display:block;
}

.active_deadline{
	background:#ddd;
	border-bottom:3px solid #800;
}

.active_end_date{
	background:#ddd;
	border-bottom:3px solid #080;
}

.develcard_icon_bar{
	background:#eee;
	border:1px solid #bbb;
	padding:5px 15px;
	border-radius:3px;
	margin:15px 0;
}

.develcard_icon_bar a{
	margin:0 10px;
	vertical-align:middle;
	display:inline-block;
}

.develcard_icon_bar a img{
	margin:3px 5px  -3px 5px;
}

.develcard_personal_list li{
	width:26%;
	float:left;
}
