#peopleinfo_user_dialog{
	text-align:left;
	display:none;
}

.peopleinfo_operation{
	text-align:right;
	border-top:1px solid #ddd;
}

.peopleinfo_tag_cloud{
	list-style:none;
	margin:0 0 40px 0;
	padding:0;
}

.peopleinfo_tag_cloud li{
	display:inline;
}

.peopleinfo_list{
	margin:0 0 40px 0;
}
