/* ========= HTML-TAG ========= */
body{
	font-family: Century Gothic;
	font-size: 12px ;
	line-height:20px;
	padding:0px;
	margin:0px;
	text-align:center;
	height:100%;
	background:#98c6df;
	background:url(../image/background.jpeg);
}

td{
	font-family: Century Gothic;
	font-size: 12px ;
	line-height:20px;
	

}

h1, h2, h3, h4{
	margin-top:0px;
}

a{
	color:#545761;
}

input{
	font-size:12px;
	border:1px solid gray;
}

/* ========= Labels ========= */
.list_label{
	padding:10px 0px 10px 0px;
	font-size:18px;
	font-weight:bold;
	border-bottom:1px solid #ddd;
	border-top:1px solid #ddd;
	text-decoration:underline;
	color:#c8652e;
}

.title_label, .title_label a{
	font-size:18px;
	color:#9a7647;
	text-decoration:underline;
}

.small_label{
	font-size:14px;
	color:#ada26d;
	text-decoration:underline;
}

.sublist_label{
	padding:10px 0px 10px 0px;
	font-size:14px;
	font-weight:bold;
	border-bottom:1px solid #ddd;
	text-decoration:underline;
	color:#ada26d;
}


/* ========= search ========= */
#search{
	width:840px;
	text-align:right;
	margin:-10px auto 10px auto;
	padding-right:30px;
}

/* ========= Head ========= */
#head{
	height:95px;
	width:840px;
	margin:0;
	background:url(../image/headbg.png) no-repeat;
}

#head a{
	text-decoration:none;
}

#head a h1{
	padding-top:30px;
}

#head a h1, #head h2{
	margin-left:30px;
	color:white;
}

#head_logo{
	margin-left:785px;
}

/* ========= Main Layout ========= */
#main_container{
	width:875px;
	margin:0 auto;
	text-align:left;
	padding:0;
}

#side_tab{
	width:35px;
	background:url(../image/sidebar.png) bottom left no-repeat;
	height:600px;
	float:left;
}

#content_container{
	width:840px;
	float:left;
	background-color: #fff;
}

#main{
	width:840px;
	margin: 0px auto 0px auto;
	text-align:left;
	padding:0;
}

#body{
	min-height:400px;
	margin:0;
	padding:0;
	border:border 1px solid red;
}

#content{
	width:440px;
	margin: 0px 10px 100px 10px;
	padding: 0px 10px 5px 10px;
	float:left;
	background:url(../image/panelbg.png);
	min-height:400px;
}



/* ========= Widgets ========= */
#widget_panel{
	width: 350px;
	margin:0px 10px auto 0px;
	float:left;
	padding:0;
}

.widget_panel_item{
	margin-left:50px;
	padding:20px;
	width:240px;
	background:url(../image/panelbg.png);
}

.widget_panel_head{
	font-size:16px;
	color:#c8652e;
}

/* ========= Menu ========= */
#menu_container{
	width:840px;
	margin:5px 0px;
	height:30px;
	padding:0;
	background:#cec07f;
}

#menu{
	margin: 0;
	padding: 0;
}

#menu li{
	float: left;
	list-style: none;
}

#menu li a{
	padding: 5px 20px;
	color: #333;
	font-size:13px;
	white-space: nowrap;
	display: block;
	text-decoration:none;
}

#menu li a:hover{
	background:#9a7647;
	color:white;
}

#menu li a#active_page{
	background:#c8652e;
	color:white;
}


/* ========= Foot ========= */
#foot{
	clear:both;
	width:800px;
	margin-top:20px;
	font-size:12px;
	text-align:right;
	border-top:1px solid #9a7647;
	padding:10px 20px;
}

#foot a{
	color:#679998;
	font-weight:bold;
}

#siteInfo {
	display:block;
	margin-top:20px;
}

