.image_container{
	float:left;
	padding:10px;
	width:90px;
}

.content_container{
	float:left;
	width:520px;
	margin-bottom:20px;
	padding-top:5px;
}

p.enlightened_info{
	border-top:2px dotted #620;
	text-align:right;
	clear:both;
}

p.type_label{
	margin-top:-15px;
	margin-bottom:15px;
	font-weight:bold;
	color:#9b2a0c;
}

