/* ========= HTML-TAG ========= */
html{
	height:100%;
}

body{
	font-family: Tahoma;
	font-size: 12px ;
	line-height:20px;
	margin:0;
	padding:0;
	text-align:center;
	background:#bb8eb7;
}

td{
	font-family: Tahoma;
	font-size: 12px ;
	line-height:20px;

}

h1, h2, h3, h4{
	margin-top:0px;
}

a{
	color:#800;
}

input{
	font-size:12px;
	border:1px solid gray;
}

/* ========= Labels ========= */
.list_label, .title_label, .small_label{
	font-weight:bold;
	padding:0;
	margin:0;
	font-family:Century Gothic;
	color:#5a0085;
}

.label_link{
	color:#5a0085;
}

.list_label{
	font-size:36px;
	line-height:56px;
}

.title_label{
	font-size:24px;
	line-height:42px;
}

.small_label{
	font-size:18px;
	line-height:32px;
}

.sublist_label{
	padding:10px 0px 10px 0px;
	font-size:14px;
	font-weight:bold;
	border-bottom:1px solid #ddd;
	text-decoration:underline;
	color:#666;
}


/* ========= search ========= */
#search{
	width:840px;
	text-align:right;
	margin:-10px auto 10px auto;
	padding-right:30px;
}

/* ========= Head ========= */
#head_container{
	height:85px;
	width:1024px;
	margin:0;
	padding:0;
	background:url(../image/head.png) top left no-repeat;
}

#head{
	height:85px;
	width:994px;
	margin:0;
	padding:0 0 0 30px;
	background:url(../image/wave.png) top left no-repeat;
}

#head a{
	text-decoration:none;
}

/* ========= Main Layout ========= */
#main_container{
	width:1024px;
	margin:28px auto 0 auto;
	padding:0;
	text-align:left;
	background:white url(../image/wave.png) top left no-repeat;
}

#main{
	width:1024px;
	margin:0 auto;
	text-align:left;
	padding:0;
	height:auto;
	background:url(../image/gender.png) bottom left no-repeat;
}

#body_container{
	margin:0 40px 0 320px;
	padding-bottom:30px;
	width:680px;
	background:url(../image/body-background.png) top right repeat-y;
}

#body{
	width:680px;
	background:url(../image/hands.png) bottom right no-repeat;
}

#content{
	width:480px;
	float:left;
	margin: 10px 20px 0 0;
}

/* ========= Widgets ========= */
#widget_container{
	float:left;
	width: 156px;
	margin-top:-111px;
}

#widget_right{
	width: 156px;
	padding:0;
	background:#8283bd url(../image/right-sidebar.png) top left no-repeat;
	height:650px;
}

#widget_right a{
	color:white;
}

#widget_right a:hover{
	color:#800;
}

.widget_right_body{
	width:156px;
	margin:15px 0px;
	text-align:center;
}

.widget_right_body ul{
	list-style:none;
	padding:0px;
	margin:0px;
}

.widget_right_body ul li{
	line-height:2.4em;
	padding:0;
	margin:0;
}

#widget_bottom{
	width: 156px;
	min-height:200px;
}

/* ========= Menu ========= */
#menu_container{
	width:1024;
	margin:0;
	padding:0;
	height:26px;
	background:url(../image/menu-background.png) top left;
}

#menu{
	width:994px;
	margin:0 0 0 30px;
	padding: 0;
	display:inline;
}

#menu li{
	list-style: none;
	line-height:26px;
	padding:0;
	margin:0;
	display:inline;
}

#menu li a{
	color:white;
	font-weight:bold;
	text-decoration:none;
	font-size:15px;
	font-family:Tahoma;
	padding:3px 15px;
	margin:0 5px;
}

#menu li a:hover{
	background:#c48fb6;
	color:#333;
}

#menu li a#active_page{
	background:#f1e7f2;
	color:#333;
}

.submenu{
	margin:0;
	padding:0;
	position: absolute;
	display:none;
}

.submenu_body{
	background:#8183bd;
	padding:0;
}

.submenu_body ul{
	padding:0;
	margin:0;
	min-width:200px;
}

.submenu_body ul li{
	float: none;
	display:block;
	line-height:30px;
	padding:0px 25px 0px 25px;
	border-bottom:1px dotted white;
}

.submenu_body ul li a{
	color: white;
	width: auto;
	font-size:12px;
}

.submenu_body ul li a:hover{
	color:#800;
}

/* ========= Operation bar ========= */

#operation_bar{
	position:fixed;
	top:0;
	left:0;
	height:28px;
	width:100%;
	background:black;
	text-align:right;
	padding:0;
}

#operation_bar a{
	color:white;
	text-decoration:none;
	font-weight:bold;
	font-size:13px;
	margin:auto 15px;
}

#operation_content, #search_bar{
	margin: 3px auto 0 1%;
	width:48%;
	float:left;
	height:20px;
}

#search_bar{
	text-align:left;
}

#login_popup #loginsubmit{
	width:80px;
}

#login_popup{
	border:1px solid #666;
	padding:15px;
	background:white;
	width:240px;
	position:fixed;
	top:26px;
	right:0px;
	text-align:left;
	z-index:1500;
	font-size: 12px ;
}

#login_popup a{
	color:#369;
}

#login_popup input{
	width:200px;
}


/* ========= Foot ========= */
#foot{
	width:924px;
	margin:0 auto;
	font-size:12px;
	text-align:right;
	padding:5px 50px;
	background:#333;
	color:white;
}

#siteInfo {
	display:block;
	margin-top:20px;
}

