p.page_foot{
	border-top:1px solid #eee;
	text-align:right;
}

p.page_foot a{
	text-decoration:none;
	padding:0px 10px 0px 10px;
	border-left:1px solid #eee;
}

.page_tag_content{
	min-height:120px;
}

.page_image_container{
	width:100px;
	padding-top:5px;
}

.page_content_container{
	width:540px;
	float:left;
}
